<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Useful Utilities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Useful Utilities</h2>
<li><a href="http://localhost:8080/useful/colored">Colored Background</a></li>
<li><a href="http://localhost:8080/useful/email?email=is@this.valid">Email Validator</a></li>
<li><a href="http://localhost:8080/useful/caesarEncoder?string=example&number=1">Caesar Encoder</a></li>
<li><a href="http://localhost:8080/useful/caesarDecoder?string=fybnqmf&number=1">Caesar Decoder</a></li>
</body>
</html>